@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "R
  oboto", sans-serif;
}
h1 {
  text-align: center;
  padding: 5px 0 !important;
}
.line {
  width: 75px;
  height: 2px;
  background-color: #222222;
  margin: 0 auto;
}
.img-thumbnail {
  border-right: 50%;
  object-fit: cover;
}
