@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding: 5px 0;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #222222;
  /* margin: 0 auto; */
}

.img-thumbnail {
  border-right: 50%;
  object-fit: cover;
}
